# Build
target/
build/
.gradle/

**/node_modules/

# Compiled
*.class

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
application.properties